.about-section {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
  background: linear-gradient(to bottom,#020202 ,#090909, #1e1e1e);
  overflow-x: hidden;
}
.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding-bottom: 0;

}

.about-content {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 4em;
  animation: fadeIn 1s ease-in-out;
}
.video-container {
  position: relative;
}

.about-video {
  width: 100%;
  height: 95vh;
  border: none;
  object-fit: cover;
  pointer-events: none;
}

.overlay {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Yarı saydam siyah katman */
  display: flex;
  align-items: center;
  border: none;
}
.about-title {
  font-size: 62px;
  border-bottom: 1px solid #eeeeee50;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #ffffff;
  width: 60%;
  margin-left: 2.5em;
  margin-top: 1.5em;
  margin-right: auto;
  color: #f5f5f5;
  text-align: start;
  animation: fadeIn 1.2s ease-in-out;
}
.about-description-overlay{
  font-size: 22px;
  line-height: 1.8;
  text-shadow: 0px 1px 2px #00000030;
  color: #dbdbdb;
  width: 60%;
  margin-left: 7em;
  margin-right: auto;
  margin-top: 2em;
  animation: fadeIn 1.5s ease-in-out;
  text-align: start;
} 
b{
  color: #ffffff;
  text-shadow: 0px 1px 2px #adadad76;

}
.about-description {
  font-size: 18px;
  line-height: 1.8;
  text-shadow: 0px 1px 2px #00000030;
  color: #f5f5f5;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  animation: fadeIn 1.5s ease-in-out;
}
.about-achievements {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.about-x, .about-x-reverse {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  margin-top: 3em;
}
.about-text-section {
  display: flex;
  flex-direction: column;
}

.about-sub-box {
  display: flex;
  flex-direction: column;
}
.about-subimage {
  margin-top: 4em;
  margin-bottom: 2em;
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  object-fit: contain;
  animation: fadeIn 1.2s ease-in-out;
}
.about-subtitle {
  margin-top: 1.5em;
  font-size: 32px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #eeeeee50;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px #ffffff;
  color: #f1f1f1;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}
@media screen and (max-width:1200px){
  .about-x {
    flex-direction: column;
  }
  .about-x-reverse {
    flex-direction: column-reverse;
  }
  .about-subimage{
    height: 400px;
  }
  .about-video{
    height: 120vh;
  }
  .about-title{
    width: 70%;
  }
}
@media screen and (max-width:850px){
  .about-video{
    height: 130vh;
  }
}
/* Masaüstü Cihazlar için Responsive Ayarlar */
@media screen and  (max-width: 768px) {
  .about-title {
    width: 80%;
    text-align: center;
    font-size: 32px;
    margin-left: 0;
    margin-right: 0;
  }
  .about-description-overlay {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    font-size: 22px;
  }
  .about-x {
    flex-direction: column;
  }
  .about-x-reverse {
    flex-direction: column-reverse;
  }
  .about-video{
    height: 120vh;
  }

}
@media screen and  (max-width: 540px) {

  .about-description-overlay {
    width: 90%;
    font-size: 20px;
  }
  .about-subimage{
    height: 100%;
  }
  .about-description{
    text-align: center;
    font-size: 17px;
  }
  .about-achievements{
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 400px){
  .about-video{
    height: 140vh;
  }
}
