
.burger-menu-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.burger-menu-logo {
  width: 70%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-right: auto;
  background: transparent;
  align-self: center;
}
  .burger-menu-icon {
    cursor: pointer;
    font-size: 25px;
    padding-right: 0;
    background: none;
    border: none;
    outline: none;
    z-index: 1000;
    color: #ffffff;
    visibility: visible; /* Butonun görünür olduğundan emin olun */
    opacity: 1; /* Görünürlük ayarını tam yapın */
  }
  /* Menü Öğeleri */
  .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Absolute yerine fixed kullanarak menü ekranı kaplayacak */
    top: 0;
    right: 0;
    background-color: #393939;
    width:65%;
    height: 100vh;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1001; /* Menüye overlay'den sonra yerleştirildiğinden emin olun */
    transform: translateX(100%); /* Menüyü başlangıçta gizlemek için */
  }
  
  .menu-items.open {
    display: flex;
    transform: translateX(0); /* Menü açıldığında görünmesi için */
  }
  .menu-list-item{
    list-style-type: none;

  }
  .menu-list{
    width: 100%;
    padding: 0;
    margin:0;
    align-items: center;
  }
  .menu-button {
    background: none;
    border: none;
    padding: 25px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    line-height: 2;
    width: 100%;
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #eaeaea5f;
    font-weight: bold;
    letter-spacing: 1px;
  }


/* Overlay Ayarları */
.burger-menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .burger-menu-overlay.open {
    opacity: 1;
    visibility: visible;
  }

  
  /* Mobil Cihazlar için Responsive Ayarlar */
  @media screen and (max-width: 768px) {
    .home-button-container {
      display: none; /* Mobilde butonları gizle */
    }
  
    .burger-menu-container {
      display: flex;
    }
    .menu-button{
        padding: 20px;
        font-size: 14px;
    }
  }
  @media screen and (min-width: 769px){
    .burger-menu-section{
      display: none;
    }
  }
  


