
/* Contact Container */
.contact-container {
    display: flex;
    justify-content: center;
    padding: 2em;
    background:linear-gradient(to bottom, #585858 ,#4a4a4a);

}

.contact-info {
    background-color: #515151;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    width: 90%;
}


.contact-title {
    font-size: 2em;
    margin-bottom: 1em;
    color: #f1f1f1;
    text-shadow: 0 1px 1px #f5f5f5;
    text-align: center;
    border-bottom: 1px solid #eeeeee50;
    padding-bottom: 0.5em;
    text-transform: uppercase;

}

.contact-description {
    font-size: 1.1em;
    line-height: 1.6;
    color: #f7f7f7;
    margin-bottom: 2em;
    text-align: center;
}

.contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-label {
    font-size: 1.2em;
    color: #c6c6c6;
    text-transform: uppercase;
}

.contact-link  {

    padding-left: 1em;
}
.contact-href{
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1.2em;
}
/* Animasyonlar */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}