
nav {
    background-color: #ffffffad;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.278);
}

.navbar-logo {
    width: 15%;
    object-fit: contain;
    border: none;
    background: transparent;
    padding-left: 2em;
}
.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 5rem;
    margin: 0;
    padding: 1em;
    padding-right: 2em;
}
.navbar-list-item {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3px;
    font-weight: 500;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;

}

.navbar-link:hover {
    color: #b53f3f; 
    text-shadow:1px solid #b53f3f;
}

