.portfolio-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-bottom: 5em;
  animation: fadeIn 1.2s ease-in-out;
  background-color: #1e1e1e;

}
.portfolio-title {
  text-align: center;
  font-size: 42px;
  border-bottom: 1px solid #eeeeee50;
  text-transform: uppercase;
  width: 25%;
  margin: auto;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px #ffffff;
  animation: fadeIn 1.2s ease-in-out;
}
.portfolio-section {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  align-items: center;
}
.portfolio-card {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 20px;
  margin-bottom: 4em;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  padding-left: 4em;
  animation: fadeIn 1.5s ease-in-out;
}
.portfolio-box-reverse{
  display: flex;
  flex-direction: column;
  padding-right: 4em;
  animation: fadeIn 1.5s ease-in-out;
  align-items: end;
}
.portfolio-photo {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  animation: fadeIn 1.5s ease-in-out;
  border-radius: 8px;
}
.portfolio-name {
  font-size: 32px;
  text-shadow: 1px 1px 1px #ffffff40;
  color: #f1f1f1;
  animation: fadeIn 1.8s ease-in-out;
  border-bottom: 1px solid #ffffff40;
  width: 35%;
}
.portfolio-name-reverse {
  font-size: 32px;
  text-shadow: 1px 1px 1px #ffffff40;
  color: #f1f1f1;
  animation: fadeIn 1.8s ease-in-out;
  border-bottom: 1px solid #ffffff40;
  width: 35%;
  text-align: end;
}
.portfolio-job {
  font-size: 22px;
  margin-top: 0;
  color: #ffffff;
  text-shadow: 0px 1px 1px #eeeeee50;
  animation: fadeIn 1.8s ease-in-out;
}
.portfolio-information {
  color: #d4d4d4;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 2em;
}
.portfolio-social {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-top: auto;
}
.portfolio-social-reverse {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-top: auto;
}
.portfolio-resume-link , .portfolio-linkedin-link , .portfolio-github-link {
  border: none;
  border-radius: 20px;
  padding: 0.5em 3em;
  color: #333;
  text-shadow: 0 1px 2px #00000030;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none ;
  margin-left: 1em;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.portfolio-resume-link{
  background-color: #c11a1a;
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-size: 15px;
}
.portfolio-linkedin-link{
  background-color: #0a66c2;
}
.portfolio-github-link{
  background-color: #3a434e;
}
.portfolio-link-icon{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.portfolio-resume-link:hover {
  background-color: #de1212;
  transform: scale(1.04);
  text-decoration: none;
  color: white;
}
.portfolio-linkedin-link:hover {
  background-color: #1076db;
  transform: scale(1.04);
  text-decoration: none;
  color: white;
}
.portfolio-github-link:hover {
  background-color: #4b535c;
  transform: scale(1.04);
  text-decoration: none;
  color: white;
}
